.story-box {
    text-align: center;
    background-size: 100% 100%;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 10px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .story-box_title {
    margin-bottom: 5px;
  }
  
  .box-title {
    font-size: 24px;
    line-height: 1.417;
    font-weight: 600;
    margin-top: -0.34em;
  }
  .story-box_date {
    display: block;
    max-width: 250px;
    margin:15px auto 0px auto;
    /* border-bottom: 1px solid #dfb68d; */
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #f8b13b;
  }
  .avatar {width: 100px;height: 100px;border-radius: 50%;position: relative;}
  
  .avatar img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 100px;
  }
  #testimonial-section{padding:50px 0px;}
  
  .bXvhnh {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
  }
  
  