#about {
    background: #F1F3EE;
    padding: 80px 0px 80px 0px;
}

#about img {
    float: right;
    height: 480px;
    object-fit: cover;
}
.founder-box :before {
  display: none;
}
.founder-box {background: #ffffff05;max-width: 580px;padding: 10px 10px;
    position: relative;
    height: 400px!important;
}

.image-shape{position: absolute;
    z-index: 0;
    width: 600px;
    height: 600px;
    right: -120px;
    top: -74px
}
.founder-box  .inner {
    position: relative;
    z-index: 20;
    padding: 10px;
    background: #fff;
    height: 400px;
}

.text-box{padding: 20px;background: #fff;height: 420px;}

.text-box h2 {
    font-size: 30px;
    color: red;
    font-weight: 700;
    text-align: end;
}
.text-box .content-box{text-align: center;padding: 10px;}
.text-box .content-box h6{font-weight: 700;}

.satnam-section{padding: 30px 0px;}

.ttm-row.portfolio-section_1 {padding: 75px 0;background: #F1F3EE;}

.box-shadow {
    box-shadow: 0 0 10px 0 rgba(18,31,56,.1);
}
.featured-imagebox {
    margin: 15px 0;
    background: white;
    height: 620px;
}
.featured-imagebox-portfolio.style6 .featured-content {
    padding: 25px 20px 10px 20px;
}